//-----------------------------------------------//
//                                               //
//  FONTS                                        //
//                                               //
//-----------------------------------------------//

$fonts-path: '../fonts';

// Alias
$primary-font: 'Arial', 'Helvetica', sans-serif;
$secondary-font: 'Arial', 'Helvetica', sans-serif;
